*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav
{
   width:100%;
   background-color: white;
    justify-content: space-around;
    align-items: center;
   height: 25%;
 
    
}
.container
{
    background-color:black;
}
.b{
    background-color:black;
    color:white;
}


.nav-item
{
    width:15%;
    height: 100%;
}
.logo
{
    position: relative;
    top:25%;
    left:25%;
   
    width:50%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-link{
    color:black;
}
a{
    background-color: white;
}

h1{
   
    text-align: center;
}


input{
  
  border-style: solid;
  outline: none;
  border-radius: 3px;
  padding:0px 3px;
}